<html>
<link rel="stylesheet" type="text/css" href="assets/main.css">
<body>

<form action="order" method="post">
    Phone number: <input type="text" name="phoneNumber"><br>
    Order: <br/>
    <textArea rows="4"
                     cols="50"
                     name="pizzaDescription"></textArea>
    <br/>
    <input type="submit" value="OK">
</form>
</body>
</html>
